.wrapper {
    max-width: 100vw;
    height: 80vh;
    background-image: url('../../../public/ThirdPage.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: 'Authentic';
    font-size: 96px;
    font-weight: 400;
    line-height: 114px;
}