.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    background-color:#DCE0BF;
    margin: 0;
    padding: 5vw 5vh;
    position: relative;
    overflow-x: hidden;
}

.textWrapper {
    margin: 0 30vw;
    position: relative;
}

.text {
    margin: 0;
    padding: 4vw;
    text-align: center;
    color: #D34F46;
    font-family: 'Journalism';
    font-size: 7vw;
    line-height: 96px;
}

.circlesRight {
    position: absolute;
    top: 5%;
    right: -10%;
    transform: rotate(30deg);
}

.circlesLeft {
    position: absolute;
    top: 25%;
    left: -13%;
    transform: rotate(95deg);
}

.blockWithPhotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vw 12vh;
}

.wrapperForImage {
    margin: 0;
    padding: 0.3rem 3.6rem;
    background-image: url('frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: calc(100%/3);
}

.photo {
    max-width: fit-content;
    height: auto;
    width: auto;
}

.wrapperForButton {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.wrapperForButton button {
    background-color: transparent;
    width: 240px;
    height: 60px;
    padding: 0 40px; 

    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.wrapperForButton button:hover {
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
    border:solid 2px #41403E;
}