.circledText {
    position: absolute;
    top: 0;
    right: 0;
}

.circledText div{
    font-family: Authentic;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: -10px;
    transform: rotate(45deg);
}

.animatedText {
    position: absolute;
    top: 0;
    right: 0;
}

.animatedText div {

    font-family: Authentic;
    color: black;
    font-weight: normal;
    font-size: 2vw;
    letter-spacing: 1px;
    /* transform: rotate(90deg); */

    animation-name: our-text;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

/* @keyframes our-text {
    100% {
        transform: rotate(360deg);
    }
} */