.mainPageWrapper {
    background-image: url('../../../public/main_page_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    padding: 5vh 12vw;
}

.linksWrapper {
    display: flex;
    justify-content: space-between;
}

.mainText {
    height: 80vh;
    padding: 20vh 40vw 0 0;
    display: inline-block;
}

.mainText h1 {
    font-family: Journalism;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 96px;
    color: #D34F46;
    margin: 0;
    position: relative;
}

.animatedText {
    position: absolute;
}

.animatedText div {


    font-family: Authentic;
    color: black;
    font-weight: normal;
    font-size: 2.2vw;
    letter-spacing: 1px;
    transform: rotate(90deg);

    animation-name: our-text;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes our-text {
    100% {
        transform: rotate(360deg);
    }
}



