.wrapper {
    position: relative;
    max-width: 100vw;
    overflow: hidden;
}

.textWrapper {
    margin: 0 2vw;
    position: relative;
}

.text {
    margin: 0;
    padding: 4vw;
    text-align: center;
    color: #D34F46;
    font-family: 'Journalism';
    font-size: 7vw;
    line-height: 96px;
}

.circles {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: rotate(95deg);
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2vh 10vw;
}

.wrapperForImage {
    flex-basis: 50%;
}

.wrapperForImage img {
    position: relative;
    z-index: 5;
}

form {
    padding: 10vh 4vw;
    flex-basis: 50%;
    font-size: 1rem;
}

.inputItem {
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

.inputItem input {
    background-color: transparent;
    border: solid 3px #41403E;
    border-bottom-right-radius: 225px 5px;
    border-bottom-left-radius: 225px 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 3vh;
}

.inputItem select {
    background-color: rgba(196, 196, 196, 0.26);
    border: solid 1px rgba(0, 0, 0, 0.15);
    padding: 3vh;
    margin: 2vh 0;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15);
}




