.link {
    margin: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.active {
    color: #D34F46;
}

.socialMedia {
    color: rgba(255, 255, 255, 0.514);
}

a:link {
    text-decoration: none;
}
