.circlesWrapper {
    position: relative;
    height: 50vh;
    min-width: 29vw;
}

.circle {
    border: 1px solid #645C97;
    border-radius: 50%;
    width: 170px;
    height: 120px;
    position: absolute;
}

.circle1 {
    transform: rotate(105deg);
    left: 10%;
    top: -20%;
}

.circle2 {
    transform: rotate(35deg);
    left: -25%;
    bottom: 60%;
}

.circle3 {
    right: 50%;
    bottom: 55%;
}

.circle4 {
    transform: rotate(35deg);
    left: 40%;
    bottom: 60%;
}

.circle5 {
    transform: rotate(105deg);
    bottom: 25%;
    left: 20%;
}


.textSmall {
    text-align: center;
    color: #D34F46;
    font-family: 'Journalism';
    font-size: 62px;
    line-height: 96px;
    margin: 1rem;
}

.textSmallRotated {
    transform: rotate(-35deg);
}