body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Authentic';
  src: local('Authentic'), url(./fonts/Authentic.otf) format('opentype');
}

@font-face {
  font-family: 'Journalism';
  src: local('Journalism'), url('./fonts/Journalism.ttf') format('truetype')
}
