.wrapper {
    background-color: #DCE0BF;
    max-width: 100vw;
    padding: 5vh 7vw 0;
    overflow: hidden;
}

.text {
    text-align: center;
    color: #D34F46;
    font-family: 'Journalism';
    font-size: 96px;
    line-height: 96px;
    margin: 1rem;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 14vw)/3);
}

.wrapperForImage {
    margin: 2rem;
    padding: 0.3rem 3.6rem;
    background-image: url('frame.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapperForImageOver {
    z-index: 2;
}

.wrapperForImage .photo {
    max-width: fit-content;
    height: auto;

    z-index: 3;
}

.wrapperForImageOver .photo {
    z-index: 3;
}

.textBlock {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 14vw)/3);
    position: relative;
}

.mainText {
    font-family: 'Roboto';
    font-size: 1rem;
    text-align: center;
    line-height: 21px;
    padding: 2rem 3.5rem 0.5rem;
}
@media (max-width: 1340px) {
    .mainText {
        padding: 2rem 1rem 0.5rem;
    }
}

.circledText div {
    right: -20%;
}

.wrapperForButton {
    align-self: flex-end;
    position: relative;
}
.wrapperForButton button {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
    background-color: #D34F46;
    position: absolute;
    left: 20.5%;
    bottom: 28%;
}

.wrapperForButton button:hover {
    background-color: #645C97;
}

.buttonText {
    font-size: 1.4rem;
    padding: 0;
    font-weight: 600;
}

.circleLeft {
    left: 13%;
}
.circleRight {
    left: 50%;
}

